<div class="mobile-navbar" data-navbar>

    <div class="wrapper">
        <a href="home.html" class="logo">
            <img src="./assets/images/logo.png" width="179" height="26" alt="clovia">
        </a>

        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
            <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>

    <ul class="navbar-list">

        <li>
            <a href="home.html" class="navbar-link" data-nav-link>HOME</a>
        </li>

        <li>
            <a href="bestsellers.html" class="navbar-link" data-nav-link>BESTSELLERS</a>
        </li>

        <li>
            <a href="necklaces.html" class="navbar-link" data-nav-link>NECKLACES</a>
        </li>

        <li>
            <a href="bracelets.html" class="navbar-link" data-nav-link>BRACELETS</a>
        </li>

        <li>
            <a href="rings.html" class="navbar-link" data-nav-link>RINGS</a>
        </li>

        <li>
            <a href="earrings.html" class="navbar-link" data-nav-link>EARRINGS</a>
        </li>

    </ul>

</div>