<div class="header-top" data-header>
    <div class="container">
        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
        </button>
        <a href="home.html" class="logo">
            <img src="./assets/images/logopic.png" width="80" height="80" alt="Clovia">
        </a>

            <form id="searchForm" action="searchResults.html" method="GET">
                <div class="input-wrapper">
                    <input type="search" name="searchTerm" placeholder="Search product" class="search-field" id="searchField">
                    <button type="submit" class="search-submit" aria-label="search">
                        <ion-icon name="search-outline" aria-hidden="false"></ion-icon>
                    </button>
                </div>
            </form>

        <div class="header-actions">
            <a href="login.html" class="header-action-btn" id="login-btn">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            </a>
            <a href="profile.html" class="header-action-btn" id="profile-btn" style="display: none;">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
            </a>
            <button class="header-action-btn" id="fav-btn" aria-label="favourite item" style="display: none;">
                <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
                <span class="btn-badge">0</span>
            </button>
            <button class="header-action-btn" id="cart-btn" aria-label="cart item" style="display: none;">
                <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
                <span class="btn-badge" id="cart-count">0</span>
            </button>
        </div>
        
        <nav class="navbar" data-navbar>
            <ul class="navbar-list">
                <li>
                    <a href="home.html" class="navbar-link" data-nav-link>HOME</a>
                </li>
                <li>
                    <a href="bestsellers.html" class="navbar-link" data-nav-link>BESTSELLERS</a>
                </li>
                <li>
                    <a href="necklaces.html" class="navbar-link" data-nav-link>NECKLACES</a>
                </li>
                <li>
                    <a href="bracelets.html" class="navbar-link" data-nav-link>BRACELETS</a>
                </li>
                <li>
                    <a href="rings.html" class="navbar-link" data-nav-link>RINGS</a>
                </li>
                <li>
                    <a href="earrings.html" class="navbar-link" data-nav-link>EARRINGS</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

